* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: arial, "sans-serif";
  font-size: 15px;
  line-height: 16px;
}

.bOtCtN.terminalContainer {
  padding: 0;
  line-height: 2.2em;
  font-size: 1.3rem;
  margin-top: -5px;
  background: black;
  overflow-y: auto;
}
.terminalContainer .WvDaY {
  background: black;
}

.terminal-alert-image-container {
  background: black;
}

img {
  display: inline-block;
  width: 100%;
}

.load-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: grey;
}
.bar {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  animation: loading 15s linear 1;
  animation-fill-mode: forwards;
}
@keyframes loading {
  to {
    left: 0%;
    width: 100%;
  }
}

.admin-panels-container {
  margin: 0 20px;
}

.header-area,
.scenes-area,
.arduino-events-area,
.volume-command-area,
.logs-area {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .scenes-area,
  .arduino-events-area,
  .volume-command-area {
    text-align: center;
  }
}

.header-area {
  position: sticky;
  top: 0;
  background: #333;
  height: 50px;
  line-height: 30px;
  padding: 10px 0;
  color: #aaa;
}

.scroll-to-top-btn,
.scroll-to-bottom-btn {
  position: absolute;
  top: 10px;
  outline: none;
  border: 2px solid #fff;
  padding: 5px 10px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  background: #666;
  color: #fff;
}

.scroll-to-top-btn {
  right: 50px;
  transform: rotate(180deg);
}

.scroll-to-bottom-btn {
  right: 0;
}

.admin-current-state {
  color: #0f0;
}

.scenes-area {
  background: #0e83cd;
}

.arduino-events-area {
  background: #f06060;
}

.volume-command-area {
  background: #fcd04b;
}

.logs-area {
  padding: 10px 0;
  font-family: consolas, "courier new", fixed, "sans-serif";
  color: #0f0;
  word-break: break-all;
}

.log-msg {
  margin-bottom: 10px;
}

.admin-button {
  display: inline-block;
  width: 245px;
  margin: 10px 10px;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  color: white;
  padding: 20px 20px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.admin-button-scene:hover {
  background: white;
  color: #0e83cd;
}

.admin-button-arduino-event:hover {
  background: white;
  color: #f06060;
}

.admin-button-volume-command:hover {
  background: white;
  color: #fcd04b;
}
